<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Temp</h1>
        <p>{{ temp }}</p>
        <form action="{{ url_for('update_data') }}" method="post">
            <button type="submit">Generate Random Temp</button>
        </form>
    </body>
</html>
